# node
node_modules/

# project data
.DS_Store
../.expo/*
expo-*
.gitignore
periodiCal/package-lock.json


periodiCal/package-lock.json
periodiCal/.expo/*

# Project Management Notes
Notes.md
Requirements.md
Theme_Ideas.md
ToDos.md
